<form
  class="callback-form js-callback-form"
  action="#"
  method="post"
  novalidate
>
  <div class="callback-form__fields">
    {% for field in callbackFormFields | default(callbackSectionFormFields) %}
      <div class="callback-form__field-wrap">
        {% if field.type == 'select' %}
          {% include "partials/select/select.njk" %}
        {% else %}
          <input
            class="callback-form__field"
            type="{{ field.type }}"
            name="{{ field.name }}"
            placeholder="{{ field.placeholder }}"
            {% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
            {% if field.inputmode %} inputmode="{{ field.inputmode }}"{% endif %}
            {% if field.validate %} data-validate="{{ field.validate }}"{% endif %}
            {% if field.required %} data-required{% endif %}
          >
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="callback-form__footer">
    <p class="callback-form__note">
      Нажимая кнопку «Отправить», вы соглашаетесь с
      <a class="callback-form__link focus" href="{{ notFoundPageUrl }}">Условиями обработки персональных данных</a><br>
      и принимаете
      <a class="callback-form__link focus" href="{{ notFoundPageUrl }}">Политику конфиденциальности</a>.
    </p>

    {% set button = {
      text: "Отправить",
      type: "submit",
      variant: "orange",
      class: "btn--198 callback-form__submit"
    } %}
    {% include "partials/button/button.njk" %}
  </div>
</form>
