<div class="callback-modal js-callback-modal" aria-hidden="true">
  {% include "partials/overlay/overlay.njk" %}

  <div class="callback-modal__scroll">
    <div class="callback-modal__dialog">
      {% set closeClass = "callback-modal__close js-modal-close" %}
      {% set closeIconClass = "callback-modal__close-icon" %}
      {% include "partials/callback/close/close.njk" %}

      <div class="callback callback-modal__callback js-callback-box">
        <div class="callback__form-view callback__form-view--position-unset js-callback-form-view">
          <h2 class="section-title section-title--center callback-modal__title">
            Заказать обратный звонок
          </h2>

          {% set callbackFormFields = callbackModalFormFields %}
          {% include "partials/callback/form/form.njk" %}

          <div class="callback__result callback__result--success">
            {% set closeClass = "callback__result-close js-callback-close" %}
            {% set closeIconClass = "callback__result-close-icon" %}
            {% include "partials/callback/close/close.njk" %}

            {% set isSuccess = true %}
            {% include "partials/callback/result/result.njk" %}
          </div>

          <div class="callback__result callback__result--error">
            {% set closeClass = "callback__result-close js-callback-close" %}
            {% set closeIconClass = "callback__result-close-icon" %}
            {% include "partials/callback/close/close.njk" %}

            {% set isSuccess = false %}
            {% include "partials/callback/result/result.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
