<div class="modal modal--slide" id="{{ modal.id }}" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-bc-close="{{ modal.id }}">
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ modal.id }}-title">
      <header class="modal__header">
        <h2 class="modal__title" id="{{ modal.id }}-title">
          {{ modal.title }}
        </h2>
      </header>

      <main class="modal__content">
        {% block content %}
        {% endblock %}
      </main>

      {% set closeClass = "modal__close" %}
      {% set closeIconClass = "modal__close-icon" %}
      {% set dataBcClose = modal.id %}
      {% include "partials/close/close.njk" %}
    </div>
  </div>
</div>