{% set modal = {
  id: "callback-modal"
} %}
{% extends "partials/modal/modal.njk" %}

{% block content %}
<div class="callback-modal js-callback-modal">
  <h2 class="callback-modal__title" id="callback-modal-title">
    Заказать обратный звонок
  </h2>

  {% set callbackFormFields = callbackModalFormFields %}
  {% include "partials/callback/form/form.njk" %}
</div>
{% endblock %}
