<ul class="vacancies-list">
  <li class="vacancies-list__row">
    <div class="bordered-box vacancies-list__cell vacancies-list__cell--head">
      Оператор контакт-центра
    </div>
    <div class="bordered-box vacancies-list__cell">
      <ul>
        <li>Коммуникации с потенциальными абонентами с целью заключения договора на предоставление услуг компании;</li>
        <li>Консультация действующих абонентов по услугам и тарифам компании;</li>
      </ul>
    </div>
    <div class="bordered-box vacancies-list__cell">
      <ul>
        <li>Грамотная устная и письменная речь;</li>
        <li>Умение излагать свои мысли и договариваться;</li>
        <li>Желание обучаться новому и развиваться;</li>
        <li>Уверенный пользователь ПК</li>
      </ul>
    </div>
    <div class="bordered-box vacancies-list__cell">
      <ul>
        <li>Достойная заработная плата (оклад+премия) от 25 000 ₽;</li>
        <li>Современный офис в центральном районе города;</li>
        <li>Удобный график работы, чтобы оставалось время на семью и увлечения;</li>
        <li>Дружный коллектив и мощная поддержка наставников;</li>
        <li>Обучение за счёт компании профессиональным и личным навыкам эффективности;</li>
        <li>Скидка 50% на услуги компании;</li>
        <li>Возможность карьерного роста</li>
      </ul>
    </div>
  </li>
</ul>