{% from "macros/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

{% set newsPageItems = [
  {
    date: "3 апреля 2026 года",
    datetime: "2026-04-03",
    text: "Региональный интернет-провайдер «Большие связи» с гордостью сообщает о значительном расширении зоны покрытия и повышении качества услуг с 1 июня 2026 года. В рамках масштабной модернизации инфраструктуры высокоскоростной интернет станет доступен жителям отдалённых районов, а действующие абоненты получат дополнительные преимущества."
  },
  {
    date: "28 марта 2026 года",
    datetime: "2026-03-28",
    text: "Сообщаем вам о проведении индексации цен на наши услуги. Изменения вступят в силу с 01 февраля 2026 года.Индексация является плановой мерой, связанной с ростом расходов на сырье и логистику, и направлена на поддержание высокого качества нашего уровня обслуживания.Мы стремимся к максимальной прозрачности и всегда готовы ответить на ваши вопросы.<br>
    Телефон горячей линии 8 800 444 11 09<br>
    Время работы с 07:00 до 05:00 следующего дня (время Иркутское).<br><br>

    Благодарим за понимание и ваше доверие!"
  }
] %}

<section class="news-page">
  <div class="glass-box">
    <h1 class="news-page__title">Новости</h1>

    <ul class="news-page__list">
      {% for item in newsPageItems %}
        <li class="news-page__item">
          <div class="news-page__aside">
            <div class="news-page__image"></div>
            <time class="news-page__date" datetime="{{ item.datetime }}">{{ item.date }}</time>
          </div>

          <div class="news-page__body">
            <p class="news-page__text">{{ item.text | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
