<section class="hero">
  <div class="swiper hero__slider js-hero-slider">
    <div class="swiper-wrapper">
      {% for i in [1, 2, 3] %}
        <div class="swiper-slide hero__slide">
          <img src="/src/assets/images/slide-1.jpg" alt="Hero" class="hero__slide-image">
        </div>
      {% endfor %}
    </div>

    <div class="hero__pagination"></div>
  </div>
</section>
