.breadcrumbs {
  padding-inline: 100px;
  margin-bottom: 30px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__text {
    font-weight: 700;
    color: var(--color-main-blue);
  }

  &__dot {
    flex-shrink: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--color-main-blue);
  }
}
