@mixin glass-box {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    border: 2px solid var(--color-white);
    border-radius: inherit;
    pointer-events: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 1269px;
    height: 241px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #F8CBCA 0%, #7EBAE6 100%);
    filter: blur(74px); /* не backdrop-filter, т.к. не поддерживается в Safari */
    pointer-events: none;
  }
}
