html {
  scrollbar-gutter: stable;
}

body {
  &.scroll-locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0px);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-grey) rgb(183 183 183 / 20%);
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(183 183 183 / 20%);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey);
}
