html {
  scrollbar-gutter: stable;

  @media screen and (max-width: 1199px) {
    scrollbar-gutter: auto;
  }

  &.scroll-locked {
    overflow: hidden;
  }
}

body {
  &.scroll-locked--fixed {
    position: fixed;
    left: 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-grey) rgb(183 183 183 / 20%);
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(183 183 183 / 20%);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey);
}
