.section-title {
  color: var(--color-dark-grey);
  font-family: var(--font-main);
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

.section-title--center {
  text-align: center;
}

.section-title--mobile-mb {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}
