:root {
  --color-dark-grey: rgb(68, 68, 68);
  --color-stroke-blue: rgb(220, 242, 255);
  --color-light-grey: rgb(183, 183, 183);
  --color-orange: rgb(255, 133, 0);
  --color-light-blue: rgb(244, 251, 255);
  --color-main-blue: rgb(0, 100, 151);
  --color-white: rgb(255, 255, 255);
  --color-banner-from: rgb(139, 183, 228);
  --color-banner-via: rgb(169, 198, 230);
  --color-banner-to: rgb(245, 205, 203);
  --color-main-blue-10: rgb(0, 100, 151, 0.1);
}
