<div class="vacancies-table">
  <div class="vacancies-table__header">
    <div class="vacancies-table__cell"></div>
    <div class="bordered-box vacancies-table__cell vacancies-table__cell--head">Обязанности</div>
    <div class="bordered-box vacancies-table__cell vacancies-table__cell--head">Требования</div>
    <div class="bordered-box vacancies-table__cell vacancies-table__cell--head">Условия</div>
  </div>

  {% include "partials/vacancies/vacancies-list/vacancies-list.njk" %}
</div>