<div class="not-found-page">
  <section class="not-found-page__hero">
    <div class="not-found-page__hero-content">
      <h1 class="not-found-page__text">
        Упс!<br>
        Просим прощения,<br>
        страница не найдена
      </h1>
      <picture>
        <source type="image/webp" srcset="/images/404.webp 1x, /images/404@2x.webp 2x">
        <img
          class="not-found-page__image"
          src="/images/404@2x.png"
          width="274"
          height="182"
          alt=""
        >
      </picture>
    </div>
  </section>

  <section class="not-found-page__tariffs">
    <div class="container">
      <h2 class="section-title tariff-page__title">
        Тарифы для квартир / г. Черемхово
      </h2>

      <ul class="tariff-page__grid">
        {% for item in privateInternetTariffs %}
          {% set tariff = item %}
          {% include "partials/tariff-card/tariff-card.njk" %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
