.instructions-page {
  @media screen and (max-width: 1000px) {
    margin-inline: -20px;
  }

  .divider {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    text-decoration: none;
  }
}
