<select
  class="select callback-form__field js-choices-select"
  id="{{ fieldId }}"
  name="{{ field.name }}"
  data-placeholder="{{ field.placeholder }}"
  {% if field.dependsOn %} data-depends-on="{{ field.dependsOn }}"{% endif %}
  {% if field.disabled %} disabled{% endif %}
>
  <option value="" selected disabled>{{ field.placeholder }}</option>
  {% for option in field.options | default([]) %}
  <option value="{{ option.value }}"{% if option.parent %} data-parent="{{ option.parent }}"{% endif %}>{{ option.label }}</option>
  {% endfor %}
</select>
