.region-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 52px;
  height: auto;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  background: var(--color-white);
  font-weight: 700;
  font-size: 1;
  color: var(--color-dark-grey);
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.22, 1, 0.36, 1);

  &__text {
    line-height: 1.2;
    text-align: left;
  }

  &__arrow {
    flex-shrink: 0;
    width: 8px;
    height: 15px;
    margin-left: 10px;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }
}

.region-dropdown {
  width: 100%;

  &--open {
    .region-btn {
      background: transparent;
    }

    .region-btn__arrow {
      transform: rotate(90deg);
    }

    .region-dropdown__list {
      max-height: 500px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    max-height: 0;
    margin: 0;
    padding: 10px 20px 0;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    transition:
      opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1),
      max-height 0.3s cubic-bezier(0.22, 1, 0.36, 1),
      visibility 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &__link {
    display: block;
    color: var(--color-dark-grey);
    text-decoration: none;
    white-space: nowrap;
  }
}
