{% macro regionDropdown(id, label, cities) %}
  <div class="region-dropdown js-region-dropdown">
    <button
      class="simple-box simple-box--white region-btn focus js-region-dropdown-toggle"
      type="button"
      aria-expanded="false"
      aria-controls="region-dropdown-{{ id }}"
    >
      <span class="region-btn__text">{{ label | safe }}</span>
      {% set icon = {
        name: "arrow-right",
        class: "region-btn__arrow"
      } %}
      {% include "partials/icon/icon.njk" %}
    </button>

    <ul
      class="region-dropdown__list js-region-dropdown-panel"
      id="region-dropdown-{{ id }}"
      aria-hidden="true"
    >
      {% for city in cities %}
        <li><a class="region-dropdown__link focus" href="{{ notFoundPageUrl }}">{{ city }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
