<div class="callback js-callback-box">
  <div class="callback__form-view js-callback-form-view">
    <h2 class="section-title section-title--center callback__title">
      Закажите звонок для связи с вами
    </h2>

    {% include "partials/callback/form/form.njk" %}

    <div class="callback__result callback__result--success">
      <button
        type="button"
        class="callback__result-close js-callback-close"
        aria-label="Закрыть"
      >
        {% set icon = {
          name: "close",
          class: "callback__result-close-icon"
        } %}
        {% include "partials/icon/icon.njk" %}
      </button>

      {% set isSuccess = true %}
      {% include "partials/callback/result/result.njk" %}
    </div>

    <div class="callback__result callback__result--error">
      <button
        type="button"
        class="callback__result-close js-callback-close"
        aria-label="Закрыть"
      >
        {% set icon = {
          name: "close",
          class: "callback__result-close-icon"
        } %}
        {% include "partials/icon/icon.njk" %}
      </button>

      {% set isSuccess = false %}
      {% include "partials/callback/result/result.njk" %}
    </div>
  </div>

</div>
