<div class="callback js-callback-box">
  <div class="callback__form-view js-callback-form-view">
    <h2 class="section-title section-title--center callback__title">
      Закажите звонок для связи с вами
    </h2>

    {% set callbackFormFields = callbackSectionFormFields %}
    {% include "partials/callback/form/form.njk" %}

    <div class="callback__result callback__result--success">
      {% set closeClass = "callback__result-close js-callback-close" %}
      {% set closeIconClass = "callback__result-close-icon" %}
      {% include "partials/callback/close/close.njk" %}

      {% set isSuccess = true %}
      {% include "partials/callback/result/result.njk" %}
    </div>

    <div class="callback__result callback__result--error">
      {% set closeClass = "callback__result-close js-callback-close" %}
      {% set closeIconClass = "callback__result-close-icon" %}
      {% include "partials/callback/close/close.njk" %}

      {% set isSuccess = false %}
      {% include "partials/callback/result/result.njk" %}
    </div>
  </div>
</div>
