<button
  type="button"
  class="focus {{ closeClass }}"
  aria-label="Закрыть"
  {% if dataBcClose %} data-bc-close="{{ dataBcClose }}"{% endif %}
>
  {% set icon = {
    name: "close",
    class: closeIconClass
  } %}
  {% include "partials/icon/icon.njk" %}
</button>
