.tariff-page {
  padding-block: 50px;

  &__title {
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
