{% from "macros/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

<section class="tariff-page">
  <div class="container">
    {{ breadcrumbs(tariffPage.breadcrumbs) }}

    <h1 class="section-title tariff-page__title">
      {{ tariffPage.title }}
    </h1>

    <ul class="tariff-page__grid">
      {% for item in tariffPage.items %}
        {% set tariff = item %}
        {% set titleBig = tariffPage.titleBig | default(false) %}
        {% include "partials/tariff-card/tariff-card.njk" %}
      {% endfor %}
    </ul>
  </div>
</section>
