{% macro navDropdown(id, label, items) %}
  <div class="nav-dropdown js-nav-dropdown">
    <button
      class="nav-btn simple-box simple-box--blue focus js-nav-dropdown-toggle"
      type="button"
      aria-expanded="false"
      aria-controls="nav-dropdown-{{ id }}"
    >
      <span class="nav-btn__text js-nav-btn-text">{{ label }}</span>
      {% set icon = {
        name: "arrow-right",
        class: "nav-btn__arrow"
      } %}
      {% include "partials/icon/icon.njk" %}
    </button>

    <div class="nav-dropdown__panel js-nav-dropdown-panel" id="nav-dropdown-{{ id }}" aria-hidden="true">
      <ul class="nav-dropdown__list">
        {% for item in items %}
          <li>
            <a
              class="nav-dropdown__link focus"
              href="{{ item.href if item.href is defined else notFoundPageUrl }}"
            >{{ item.text if item.text is defined else item }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="nav-dropdown__overlay js-nav-dropdown-overlay" aria-hidden="true"></div>
  </div>
{% endmacro %}
