{% from "macros/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

<section class="tariff-page">
  <div class="container">
    {{ breadcrumbs([
      { text: "Тарифы и услуги" },
      { text: "Видеонаблюдение для дома" }
    ]) }}

    <h1 class="section-title tariff-page__title">
      Видеонаблюдение для дома / г. Черемхово
    </h1>

    <ul class="tariff-page__grid">
      {% for item in homeVideoSurveillanceTariffs %}
        {% set tariff = item %}
        {% include "partials/tariff-card/tariff-card.njk" %}
      {% endfor %}
    </ul>
  </div>
</section>
