{% extends "layouts/base.njk" %}

{% block content %}
<div class="page-content">
  <div class="container">
    {% block head %}
    {% endblock %}

    {% block body %}
    {% endblock %}
  </div>
</div>
{% endblock %}