{% extends "layouts/default.njk" %}

{% block content %}
<div class="page-content{% if notBottom | default(false) %} page-content--not-bottom{% endif %}">
  <div class="container">
    {% block head %}
    {% endblock %}

    {% block body %}
    {% endblock %}
  </div>
</div>
{% endblock %}