<header class="header js-nav-dropdown-container">
  <div class="header__top">
    <div class="container header__top-inner">
      <button
        class="header__city-select city-select focus hover js-city-select-toggle"
        type="button"
        aria-expanded="false"
        aria-controls="city-panel"
      >
        {% set icon ={
            name: "location",
            class: "city-select__icon"
          }
        %}
        {% include "partials/icon/icon.njk" %}
        <span class="city-select__text">Черемхово</span>
      </button>

      <div class="header__support-link">
        <span class="header__support-link-text">Техподдержка</span>
        <a class="header__phone focus" href="tel:+78004441109">+7 800 444 11 09</a>
      </div>
    </div>

    {% include "partials/city-panel/city-panel.njk" %}
  </div>

  <div class="container header__bottom">
    <a class="header__logo focus" href="/">
      <picture>
        <source srcset="/images/logo-2x.png 2x, /images/logo-1x.png 1x">
        <img
          class="header__logo-img"
          src="/images/logo-1x.png"
          width="226"
          height="45"
          alt="Большие Связи"
        />
      </picture>
    </a>

    <nav class="header__nav" aria-label="Основная навигация">
      {% from "macros/nav-dropdown/nav-dropdown.njk" import navDropdown, navMenuDropdown %}

      {% for group in headerNavItems %}
      {{ navDropdown(group.id, group.label, group.items) }}
      {% endfor %}

      {{ navMenuDropdown(headerNavItems) }}
    </nav>

    <div class="header__actions">
      {% set button ={
          text: "Пополнить баланс",
          href: notFoundPageUrl,
          variant: "blue",
          class: "btn--198"
        }
      %}
      {% include "partials/button/button.njk" %}

      {% set button ={
          text: "Подключиться",
          type: "button",
          variant: "orange",
          class: "btn--198",
          dataBcOpen: "callback-modal"
        }
      %}
      {% include "partials/button/button.njk" %}

      <a class="profile-btn focus hover" href="{{ notFoundPageUrl }}" aria-label="Профиль">
        {% set icon ={
            name: "profile",
            class: "profile-btn__icon"
          }
        %}
        {% include "partials/icon/icon.njk" %}
      </a>
    </div>
  </div>
</header>
