{% macro breadcrumbs(items, class) %}
  <nav
    class="breadcrumbs{{ (' ' ~ class) if class else '' }}"
    aria-label="Хлебные крошки"
  >
    <ol class="breadcrumbs__list">
      {% for item in items %}
        <li class="breadcrumbs__item">
          {% if item.href %}
            <a class="breadcrumbs__text" href="{{ item.href }}">{{ item.text }}</a>
          {% else %}
            <span
              class="breadcrumbs__text"
              {% if loop.last %}aria-current="page"{% endif %}
            >{{ item.text }}</span>
          {% endif %}

          {% if not loop.last or items | length == 1 %}
            <span class="breadcrumbs__dot" aria-hidden="true"></span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
