.contacts-page {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social-link {
    gap: 10px;
    color: var(--color-dark-grey);
    text-decoration: none;
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: var(--color-orange);
  }
}
