.contacts-page {
  @media screen and (max-width: 1000px) {
    margin-inline: -20px;
  }

  .divider {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social-link {
    gap: 10px;
    color: var(--color-dark-grey);
    text-decoration: none;
  }

  &__social-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    color: var(--color-orange);
  }
}
