<li class="office-addresses__row">
  <div class="bordered-box office-addresses__cell office-addresses__cell--region">
    {{ officeAddressRow.region }}
  </div>

  <div class="office-addresses__entries">
    {% for address in officeAddressRow.addresses %}
      <div class="office-addresses__entry">
        <address class="bordered-box office-addresses__cell office-addresses__cell--location">
          {{ address | safe }}
        </address>

        <div class="bordered-box office-addresses__cell office-addresses__cell--schedule">
          {{ officeSchedule | safe }}
        </div>

        <div class="bordered-box office-addresses__cell office-addresses__cell--phone">
          <a class="office-addresses__phone" href="{{ officePhone.href }}">{{ officePhone.display }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</li>
