{% set newsPageUrl = "/pages/news.html" %}

{% set newsItems = [
  {
    image: "/src/assets/images/news/new-1.png",
    text: "Региональный интернет-провайдер «Большие связи» с гордостью сообщает о значительном расширении зоны покрытия и повышении качества услуг с 1 июня 2026 года. В рамках масштабной модернизации инфраструктуры высокоскоростной интернет станет доступен жителям отдалённых районов, а действующие абоненты получат дополнительные преимущества.",
    href: newsPageUrl
  },
  {
    image: "/src/assets/images/news/new-2.png",
    text: "Сообщаем вам о проведении индексации цен на наши услуги. Изменения вступят в силу с 01 февраля 2026 года.<br>Индексация является плановой мерой, связанной с ростом расходов на сырье и логистику, и направлена на поддержание высокого качества нашего уровня обслуживания.Мы стремимся к максимальной прозрачности и всегда готовы ответить на ваши вопросы.<br>
    Телефон горячей линии 8 800 444 11 09<br>
    Время работы с 07:00 до 05:00 следующего дня (время Иркутское)<br>
    Благодарим за понимание и ваше доверие!",
    href: newsPageUrl
  }
] %}

<section class="news">
  <div class="container">
    <div class="white-box">
      <h2 class="news__title">Новости</h2>

      <ul class="news__list">
        {% for item in newsItems %}
          <li class="news__item">
            <div class="news__image">
              <img src="{{ item.image }}" alt="{{ item.title }}">
            </div>

            <div class="news__content">
              <p class="news__text">{{ item.text | safe }}</p>
              <a class="news__link focus" href="{{ item.href }}">Читать...</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
