<section class="hero">
  <div class="swiper hero__slider js-hero-slider">
    <div class="swiper-wrapper">
      {% for i in [1, 2, 3] %}
        <div class="swiper-slide hero__slide">
          <img
          {% if loop.first %}
            src="/src/assets/images/slide-1.jpg"
            fetchpriority="high"
            {% else %}
              data-src="/src/assets/images/slide-1.jpg"
            {% endif %}
            alt="Hero"
            class="hero__slide-image"
            decoding="async"
          >
        </div>
      {% endfor %}
    </div>

    <div class="hero__pagination"></div>
  </div>
</section>
